body {
	margin: 0;
	color: #4F442E;
	padding-bottom: 25px;
	font-family: 'Lato', sans-serif;
}
figure{
	margin: 0;
	display: inline-block;
}
.header{
	background: #254050;
}
.logotipo, .menu{
		padding: 10px;
}
.contenedor{
	width: 800px;
	margin: auto;
}
.main {
	background: #EFEFEF;
	padding-top : 20px;
}
.menu{
	display: inline-block;
	float: right;
}

.menu ul{
	margin: 0;
}
.menu li{
	display: inline-block;
	margin-left: 15px;
	padding: 15px;
}

.menu li a{
	color: white;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

.menu li:hover{
	border-top: 4px solid #FF4842;
	padding-top: 11px;

}
.principal{
	background: url("../images/bg.jpeg");
	background-size: cover;
	height: 500px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.box{
	background: rgba(218, 216, 213, .5);
	display: inline-block;
	margin: 15px;
	padding: 15px;
}

.box h4,
.post-blog h4 {
	border-bottom: 1px solid #4F442E;
	margin: 10px 0;
	padding-bottom: 15px;
}
.box img{
	border-radius: 50%;
}

.box-info{
	display: flex;
	align-items: center;
}

.box-info span{
	padding: 10px;
}

.box-info span, 
.post-blog span{
	font-size: 12px;
}

.fecha{
	margin-left: 50px;
}

.post-blog{
	width: 230px;
	overflow: hidden;
	padding: 20px 0; 
}

.blog {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 20px;

}
.af {
	display: flex;
	justify-content: space-between;
}
.paginacion{
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-item{
	background-color: #EAEAEA;
	padding: 3px 6px;
	text-decoration: none;
	color: #4F442E;
	border: 1px solid #afafaa;
	margin-left:10px;
}

.blogin{
	background-color: #FF4842;
	padding: 10px 15px;
	border-radius: 5px;
}


